@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <ul class="d-flex flex-row list-unstyled" style="position: fixed; top: 0.5rem; right: 1%;">
            <li class="nav-item">
                @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link p-2" })
            </li>
            <li class="nav-item">
                <a class="nav-link p-2" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="d-flex flex-row list-unstyled" style="position: fixed; top: 0.5rem; right: 2%;">
        <li class="nav-item">
            @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link p-2" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link p-2" })
        </li>
    </ul>
}
