@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <dl class="d-flex flex-row" style="position: fixed; top: 0.5rem; right: 1%;">
            <dd>
                @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "link-format yellow-txt-on p-2" })
            </dd>
            <dd>
                <a class="link-format yellow-txt-on p-2" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
            </dd>
        </dl>
    }
}
else
{
    <dl class="d-flex flex-row" style="position: fixed; top: 0.5rem; right: 2%;">
        <dd>
            @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "link-format yellow-txt-on p-2" })
        </dd>
        <dd>
            @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "link-format yellow-txt-on p-2" })
        </dd>
    </dl>
}
<style>
    .link-format {
        color: #FFF;
        display: block;
        text-decoration: none;
    }
</style>