body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* Color Scheme */
.palette1 {
    --base1: #d9ac25;
    --content1: #fecf50;
    --base2: #034c8c;
    --content2: #0477bf;
    --base: #fdfae5;
    --base1-light: hsl(45deg 71% 60%);
    --base2-light: hsl(208deg 96% 38%);
    --content1-light: hsl(44deg 99% 75%);
    --content2-light: hsl(203deg 96% 75%);
}
