@model SIGEVALP.ViewModels.HistorialMovimientoViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Movimiento de Insumos</h2>
<br />

<table class="table table-hover">
    <tr>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>Opción</th>
    </tr>

    @foreach (var item in Model.detalleCompra)
    {
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    }

    @foreach (var item in Model.detalleSolicitud)
    {
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    }
</table>

